<ion-header><div class="contiene">
      
    <img class="alas" src="./../../assets/imgs/cabezera/Logo_Mesa de trabajo 1.png">
    <button routerLink="/registrarse" class="volver"><img src="../../assets/imgs/retroceso.png"></button>
  
</div></ion-header>


<ion-content padding>
    <h1 text-center margin class="titulox">Términos y Condiciones </h1>
    <h2 class="tit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iste quis dignissimos, atque fuga ad obcaecati.</h2>
    <h1>1. Lorem ipsum dolor,</h1>
    <p>1.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>
    <p>2. Lorem ipsum dolor,</p>
    <p>2.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>
    <p>2.2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>

    <p>3. Lorem ipsum dolor,</p>
    <p>3.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>
    
    <p>4. Lorem ipsum dolor,</p>
    <p>4.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>
  


    <p>1. Lorem ipsum dolor,</p>
    <p>1.1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem architecto odit impedit a corporis sapiente nemo mollitia nihil ab ex maxime quibusdam, aliquam officiis ullam earum modi doloribus id. Illo.</p>
    <ion-col text-center>
        <ion-button class="but" routerLink="/registrarse">Acepto</ion-button>
 </ion-col>
  </ion-content>
