<ion-content padding>
<div class="principalll">
<app-cabecera [titulohead]="tituhead"></app-cabecera>

    <ion-grid>
       <ion-row>
         <ion-col >
          <div class="engloba">
             
              <div class="contImagen">
                  <div class="imagen"></div>
              </div> 
              <div class="datos">
                <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                <span class="dinero"> 15,000 </span>
                <button class="euro">5€</button>
              </div>
              <div class="datos">
                <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                <span class="dinero"> 30,000 </span>
                <button class="euro">10€</button>
              </div>
              <div class="datos">
                <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                <span class="dinero"> 45,000 </span>
                <button class="euro">15€</button>
              </div>
             </div>
           <ion-button color="primary" class="but" (click)="irCambiar('tarj1')" round class="canjea">Canjear </ion-button>
         </ion-col>
       </ion-row>
    
       <ion-row>
          <ion-col>
                <div class="engloba" style="margin-top:30px;" >
                      <div class="contImagen">
                          <div class="imagen2"></div>
                      </div> 
                      <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 15,000 </span>
                            <button class="euro">5€</button>
                          </div>
                          <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 30,000 </span>
                            <button class="euro">10€</button>
                          </div>
                          <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 45,000 </span>
                            <button class="euro">15€</button>
                          </div>             
              </div>
              <ion-button color="primary" class="but" (click)="irCambiar('tarj1')" round class="canjea">Canjear </ion-button>
          </ion-col>
       </ion-row>
 
       <ion-row>
             <ion-col>
                   <div class="engloba" style="margin-top:30px;">
                         <div class="contImagen">
                           
                             <div class="imagen3"></div>
                         </div> 
                         <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 15,000 </span>
                            <button class="euro">5€</button>
                          </div>
                          
                          <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 30,000 </span>
                            <button class="euro">10€</button>
                          </div>
                          <div class="datos">
                            <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                            <span class="dinero"> 45,000 </span>
                            <button class="euro">15€</button>
                          </div>
                          
              </div>
              <ion-button color="primary" class="but" (click)="irCambiar('tarj1')" round class="canjea">Canjear </ion-button>
             </ion-col>
          </ion-row>  
 
   </ion-grid>
  </div>
 </ion-content>