  
  <ion-content fullscreen>
    <div class="principal">
      <ion-item class="close-fake" lines="none" text-center>
          <ion-button (click)="close()" fill="clear" color="light">
            <ion-icon name="close" slot="start"></ion-icon>
          </ion-button>
          </ion-item>
          <div class="bloque">
           <div>
                  <ion-icon class="flecha" name="arrow-round-up"></ion-icon>
           </div>
           <div>
                  <ion-button color="primary" class="botone" >Subir Imagen</ion-button>
                  <p>foto</p>
           </div>
        
          <div class="bar">
              <div class="bar_progres"></div>
          </div>
        </div>

         <div class="subtitulo">Reto de Fotografía Escaparate</div>
          <div class="bloque2">
               <textarea   rows="4" cols="20" placeholder="Describe yourself here...">
               </textarea>
          </div>
          <div class="bloque3">
                  <ion-button color="primary"  class="botones" style="width:40%"
                   >Confirma</ion-button>
           </div>
          </div>
      </ion-content>