<ion-content fullscreen >
    <ion-grid>
      <div class="principal"> 
                      <ion-item class="close-fake" lines="none" text-center>
                          <ion-button (click)="close()" fill="clear" color="light">
                            <ion-icon name="close" slot="start"></ion-icon>
                          </ion-button>
                          </ion-item>               
                    <div class="circulo"margin-top >
                         <div class="check" text-center>
                                ¿Estas seguro que quieres<br> <p>tarj1</p> <br> Card 5€?
                         </div>
                    </div>

                    <div class="contenedor">       
                    <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                   <span class="span">
                    Valor: 15,000 Monix 
                   </span>
                    </div>
                    <div class="contenedor">
                   <img class="logoDin" src="../../../assets/imgs/cabezera/logo2.png">
                   <span class="span">
                    Tienes: 1.356 Monix 
                   </span>
                </div>
                <div class="contenedor2">
                <ion-checkbox checked="false" required ></ion-checkbox><span class="span">
                      Seguro.
                     </span>
            
            </div>
            <ion-button class="but" round >Aceptar </ion-button>
  
         
           </div>
       </ion-grid>
   </ion-content>