.close-fake {
    --background: transparent;
      ion-icon {
        font-size: 1rem;
        color: white;
        background: rgb(212, 38, 142);
        border-radius: 30px;   
    
    }
    margin-top: 40px;
    margin-left: 75%;
}
 
ion-content {
    --background: rgba(59, 1, 39, 0.555);
}
.principal{
 
    margin-top: 20%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
    border-radius: 5px;
  }
  .check{

      color: white;
      font-size: 25px;
     
   }
   .span{
       color: white;
       font-size: 18px;
   }
  
  .texto{
      margin:15px;
      color: white;
  }
  .logoDin{
      width: 30px;
      height: 30px;
      
  }
  .contenedor{
      margin-left: 15%;
      padding-top: 20px;
  }
  .contenedor2{
    margin-left: 30%;
    padding-top: 20px;
}

  .but{
      margin-left: 30%;
      margin-top: 20px;
  }
 


