<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

     <ion-tab-button tab="tab1" >
     <img src='../../../assets/icon/home.png' class="home">
     <ion-label style="margin-top:15%">Home</ion-label>
     </ion-tab-button>

     <ion-tab-button tab="tab4">
      <img src='../../../assets/icon/mensajes.png'>
      <ion-label style="margin-top:-10%">Buzón</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      
      <img src='../../../assets/icon/perfil.png' class="perfil">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="tab2">
        <img src='../../../assets/icon/retos.png' >
        <ion-label style="margin-top:35%">Retos</ion-label>
      </ion-tab-button>
      
          <ion-tab-button tab="tab5">
              <img src='../../../assets/icon/tarjetas.png' class="home">
              <ion-label>Regalos</ion-label>
            </ion-tab-button>
  


  </ion-tab-bar>

</ion-tabs>
