
<ion-content fullscreen >
             
                 <div class="principal">
                    <ion-item class="close-fake" lines="none" text-center>
                        <ion-button (click)="close()" fill="clear" color="light">
                          <ion-icon name="close" slot="start"></ion-icon>
                        </ion-button>
                        </ion-item>
                    <div  class="cont_imagen" >
                    <img class="imagen"  src="../../../assets/imgs/fotosperfil/Rectangle 2.png"/>
                  </div>
                 <div class="cont_pieFoto">
                   
                     <div class="pieFoto">
                        Reto de Fotografía el Ganador<br>
                        usuario
                        </div>
                 </div>
                 <div class="descri">
                    <h1 class="descripcion">Descripcion del reto</h1><br>
                      Aquí va Descripcion del reto
                 </div>
                </div>
            </ion-content>
  