   
    *{
        margin:0px;
        padding:0px;
    }



.header{
    background:none;
}
    
    //CABEZERA
 
      .alas{
         position: relative;
         top: 20px;
         width: 60px;
         height: 60px;
         margin-left: 5%;
      }
    
      .titulo{
      width: 100%;
      font-size: 12pt;
      font-weight: bold;
      text-align: center;
      color: white;
      text-shadow:1px 0 0 #E5087E, -1px 0 0 #E5087E, 0 1px 0 #E5087E, 0 -1px 0 #E5087E, 0.5px 0.5px #E5087E, -0.5px -0.5px 0 #E5087E, 0.5px -0.5px 0 #E5087E, -0.5px 0.5px 0 #E5087E;
     }
    
     .logo{
        position: relative;
        width: 20px;
        height: 20px; 
        top:3px;
        margin-left: 2px;
     }

     .contenido{
         width: 25%;
         position: absolute;
         margin-left: 75%;
         top:20px;
         background-color: #F9F7F6;
         border-radius: 5px;
         box-shadow: 0 0 10px black;
         height: 30px;
      }

     progress[value]{
    
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
 
    /* Añado mis propios estilos */
    width: 70%;
    height: 5px;
    overflow:hidden;
    border-radius : 6px ;
    position: relative;
    left: 20%;
     top: -25px;
     }
     progress::-webkit-progress-value {
        background:#E5087E;
    }
     .nivel{
     font-weight: bold;
     margin:0px;
     padding:0px;
     position: relative;
     font-size: 10px;
     left: 25%;
     top: -25px
     
     }
     
    //caja monix
    .textmonix{
       
        width: 60%;
        color:yellow;
        font-size: 10px;
        text-align: center;
        margin-left: 25px;
       
    }
    .cajaMonix{
        background: white;
        width: 22%;
        height: 25px;
        border-radius: 5px;
        position: absolute;
        margin-top: -10%;
        margin-right: 25%;
        box-shadow: 0 0 10px black;
        
    }

    .logx2{
        width:15px;
        height: 15px;
       position: absolute;
       margin-left: 5%;
       margin-top: 6%;
    }
    .textmonix{
       
        width: 50%;
        color:yellow;
        font-size: 6px;
        text-align: center;
        margin-left: 20px;
        text-shadow:1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0.5px 0.5px #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #E5087E, -0.5px 0.5px 0 #E5087E;
    }
    .monix{
        
        color:yellow;
        background: #E5087E; 
        width: 60%;
        height: 8px;
        
        font-size: 7px;
        text-align: center;
        margin-left: 20%;
    }


