
.alas2{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 9px;
    border-radius: 50%;
    border: 1px solid black;
   
 }
 p{
     float: right;
     margin-right: 50%;
     font-weight: bold;
     
    }


    .cajachat{
        border-radius: 5px 5px 5px;

        
    }


    .chatt{
        top: 5%;
        background: rgb(255, 255, 255);
        position: relative;
        width: 110%;
        margin-left: -5%;
        
    }

    .escribir{
        float: right;
        width: 85%
    }
    .clip{
        width: 10px;
        height: 30px;
       
    }
    .titulo{
        font-size: 18px;
    }

    #chat{
        background: rgba(255, 0, 0, 0.514);
    }
    