<ion-content padding id="chat">
<app-cabecera [titulohead]="tituhead" class="cabecera"></app-cabecera>

<ion-toolbar class="chatt">
  <img src="../../../assets/imgs/cabezera/alas.PNG" class="alas2">
  <p>Me Envuela</p>
</ion-toolbar>

       

  <ion-card class="cajachat">
    <ion-card-header>
     
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-button icon-right  class="clip">
          <ion-icon name="attach"></ion-icon>
        </ion-button>
        <div class="escribir">
    <ion-input placeholder="Escribe tu mensaje..." ></ion-input>
  </div>
    <ion-buttons end>
      <ion-button icon-right  class="avion">
        <ion-icon name="paper-plane" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>