<ion-content fullscreen >
             
  <div class="principal">

  <ion-row >
    <ion-col>
      <ion-item class="close-fake" lines="none" text-center>
        <ion-button (click)="close()" fill="clear" color="light">
          <ion-icon name="close" slot="start"></ion-icon>
        </ion-button>
        </ion-item>
     <div class="titu">¿Cómo Participar?</div>
    <div class="contenidol"> 
      Participar es muy sencillo.
      Por cada interacción con nuestra web tiene recompensa en monedas virtuales “Monix” que podrás canjear por cheques regalo de numerosas marcas de prestigio en el mercado.
      Te adjuntamos las recompensas que alcanzarás en función de la interacción que realices. Por cada acción te indicamos el número de Monix que puedes conseguir. Cada Monix se canjea por 0,001€ y por tanto puedes acumular, y visualizarlo en tu perfil cuantos Monix puedes ir acumulando para alcanzar el mínimo indicado en el menú “Recompensa” para poder canjear Monix por dinero en cheques regalo interactivo.
      Para poder participar en un reto, sólo tienes que ir al menú “Retos” y ver los retos abiertos. Estos pueden ser de fotos, de videos o de quiz. Tu podrás participar libremente en aquellos que consideres oportunos o si te atreves en todos ellos. Posteriormente tendrás que entrar, visualizar y leer detenidamente las condiciones del reto, y seguir las sencillas instrucciones que te proponemos para alcanzar dicha participación. Esta participación ya te hará de manera automática sumar Monix en su banco virtual.
      Además de participar, y si has seguido las instrucciones, te enviaremos un correo confirmando la consecución del reto conseguido, por lo que y por segunda vez, volverás a sumar Monix de manera automática.
      Una nueva forma de conseguir Monix, es mediante la votación que te proponemos en Menú “Home” apartado Votaciones de los retos. En este apartado podrás de manera muy intuitiva, votar por la mejor foto o el mejor video, donde tu incluso puedes ser finalista. Por realizar este nuevo acto, obtendrás nuevos Monix.
      Si tu reto está entre los finalistas y eres el más votado, pasaras de manera automática a formar parte de nuestros ganadores, alcanzando nuevamente Monix que se sumarán a tu banco virtual. 
      En el menú inferior (indicar el menú en esta parte), se podrá viajar a través de la aplicación.
      En el Buzón, podrás interactuar con nosotros y nosotros contigo para enviarte notificaciones o que nos hagas consultas o sugerencias sobre la aplicación MeEnvuela.
      En el menú “Tarjetas” es donde podrás canjear los Monix alcanzados por Cheques regalo, simplemente interactuando y siguiente unos sencillos pasos.
      Finalmente, en el perfil, podrás ver tu perfil y ver el estado general de los Monix y de las medallas conseguidas. Cada medalla es un escalón como piloto de nuestra aplicación y tiene regalo seguro, bien en Monix, bien un regalo sorpresa en función de tu interacción.
      No dejes de participar, sólo necesitamos que interacciones como un sencillo juego, y sólo por este acto, recibirás Monix canjeables por cheque regalo. ¡Vas a dejar pasar una oportunidad así!
      Para consultas adicionales, puedes ponerte en contacto con nosotros a través del correo electrónico:
      proyectomeenvuela@gmail.com
      Muchas gracias.
      Equipo Meenvuela.
      
  
    </div>
    <ion-buttons>
      <button (click)="close()" class="entendido">Entendido</button>
    </ion-buttons>
    </ion-col>
  </ion-row>
  </div>
  </ion-content>