<div class="principal">
  <img class="alas" src="../../../assets/imgs/cabezera/Logo_Mesa de trabajo 1.png" >
  
  <div  class="titulo">
      {{titulohead}}
  </div>
        <div class="contenido" >
             <img class="logo" src="../../../assets/imgs/cabezera/logo.png">
            <div>  
            <div class="nivel"> Nivel 1</div>
            <progress  max="100" value="50"></progress>
           </div>
     </div>
 
    <div class="cajaMonix">
      <img class="logx2" src="../../../assets/imgs/cabezera/logo2.png">
      <div class="textmonix"> Monix 1</div>
      <div class="monix">1,356</div>
</div>
</div>
