<ion-content>
  <div class="contiene">
<img class="alas" src="./../../assets/imgs/cabezera/Logo_Mesa de trabajo 1.png">
<button class="headbot" ion-button small  routerLink="/login" round>Acceder</button>
</div>



<ion-grid text-center>
<ion-row>
<ion-col>
   <h3  class="titu">Escaparate</h3>
   <button ion-button class="caja caja_evEspeciales"></button>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
     <h3 text-center class="titu">Finalistas</h3>
     <img src="../../assets/imgs/copaganadores.png" class="copa">
     <button ion-button  class="caja caja_ganadores" ></button>
</ion-col>
</ion-row>
<ion-row >
<ion-col>
   <h3 text-center class="titu">Eventos</h3>
   <button ion-button  class="caja caja_eventos" ></button>
</ion-col >
</ion-row>
</ion-grid>  
</ion-content>